*
{
	margin: 0px;
	padding: 0px;
	list-style-type:none;
}

header,nav,section,article,aside,footer
{
	display: block;
	z-index: 0;
}

.page_header
{
	background-color: #232323;

	height: 70px;

	font-family: sans-serif;
}

#logo
{
	position:absolute;
	z-index: 5;
}

#serch
{
	background-color: #232323;

	margin: 0 auto;

	text-align: center;

	
}

#serch #searchButton
{
	border-radius: 5px;
	position: relative;
}

.container1
{	

	background-color: #232323;

	margin: 0 0 0 0;

	text-align: right;

	position: relative;
	float:right;
}

#openModal #up:hover
{
	color: rgb(13,255,134);
}

a.open:visited
{
	color: white;
}

#openModal #up:visited
{
	color: white;
}

.title{
  background-color: #ff0055;
  border-radius: 15px 15px 0px 0px;
  border-style: solid;
  border-width: 2px;
  font-weight: bolder;
  height: 30px;
  line-height: 30px;
  padding: 2px 10px;
  position: absolute;
  right: -2px;
  top: -38px;
}


body
{
	margin: 0 0 0 0;
	background-color: #666666;
	background-color: #232323;
}

.left_side
{
	float:left; 
	width: 15%;
	height: 700px;
	background-color: #232323;
	color: white;
	line-height: 50px;
	padding-top: 10px;

}

.genres 
{
	display: block;
	margin: 30px auto;
	color:;

	
	height: 90%;
	width: 80%;
	color:rgb(255,13,134);
	
	font-family: sans-serif;

	border: 3px solid white;
	border-radius: 5px;
	text-decoration: none;
	text-align: center;


}

/*.genres p
{
	margin: 5px 10px 15px 10px;
	text-align: center;
}
*/
.right_side
{
	color:white;
	padding-top:10px;
	float:left;
	height: 700px;
	width: 85%;
	background-color: #232323;
	
}

.movie_container
{
	
	height: 100%;
	/*-webkit-column-count: 2; /* Chrome, Safari, Opera 
    -moz-column-count: 2;*/ /* Firefox */
    /*column-count: 2;*/
    width : 90%;
    /*color:white;*/

}

.home_movies a{
	text-decoration: none;
	color: rgb(255,13,134);
}
.home_movies
{

	border:3px solid white;
	border-radius: 10px;
	color: rgb(255,13,134);
	font-family: sans-serif;
	background-color: #232323; 
	margin-top: 20px;
	text-align: center;

	/*-webkit-column-count: 2; /* Chrome, Safari, Opera */
    /*-moz-column-count: 2; /* Firefox */
    /*column-count: 2;*/

	font-size: 15px;
	height:100px;
	width:250px;

	-webkit-transition:-webkit-transform 0.1s,opacity 0.1s,background 0.1s,width 0.1s,height 0.1s,font-size 0.1s;
	-webkit-border-radius:5px;
	-o-transition-property:width,height,-o-transform,background,font-size,opacity;
	-o-transition-duration:1s,1s,1s,1s,1s,1s;
	-moz-transition-property:width,height,-o-transform,background,font-size,opacity;
	-moz-transition-duration:1s,1s,1s,1s,1s,1s;
	transition-property:width,height,transform,background,font-size,opacity;
	transition-duration:0.1s,0.1s,0.1s,0.1s,0.1s,0.1s;
	border-radius:5px;
	opacity:0.7;

	float: left;
	margin: 10px 10px 0 0; 

}

.home_movies:hover
{
	width: 300px;
	height: 100px;
	opacity: 1;
	font-size: 15pt;

}

.home_movies img
{
	height:75px; 
	width:75px; 
	margin-top: 3px;
	margin-left: 3px;
	float: left;

	-webkit-transition:-webkit-transform 1s,opacity 1s,background 1s,width 1s,height 1s,font-size 1s;
	-webkit-border-radius:5px;
	-o-transition-property:width,height,-o-transform,background,font-size,opacity;
	-o-transition-duration:0.1s,0.1s,1s,1s,1s,1s;
	-moz-transition-property:width,height,-o-transform,background,font-size,opacity;
	-moz-transition-duration:1s,1s,1s,1s,1s,1s;
	transition-property:width,height,transform,background,font-size,opacity;
	transition-duration:0.1s,0.1s,0.1s,0.1s,0.1s,0.1s;
	
}

.home_movies:hover img
{
	width:80px;
	height:80px;
}

.page_footer
 {
	/*color:white;
	text-align: center;
	background:#000;
	width:100%;
	padding-top: 5px;
	position:absolute;
	height:30px;
	position:absolute;
	bottom:0;
	left:0;*/

  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #000;
  text-align: center;
  color:white;


}

.player
{
	/*text-align: center;*/
	margin: 0 auto;
	width: 60%;
	display: block;
}

div.stars 
{
  width: 300px;
  display: inline-block;
}

input.star 
{
 	display: none; 
}

label.star
{
  	float: right;
  	padding: 10px;
 	font-size: 36px;
 	color: #444;
  	transition: all .2s;
}

input.star:checked ~ label.star:before 
{
  	content: '\f005';
 	color: #FD4;
  	transition: all .25s;
}

input.star-5:checked ~ label.star:before
 {
 	color: #FE7;
 	text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before
 { 
	color: #F62; 
}

label.star:hover { 
	transform: rotate(-15deg) scale(1.3); 
}

label.star:before
 {
 	content: '\f006';
 	font-family: FontAwesome;
}

.register
{
	color:white;
	font-family: sans-serif;
}

#submitButton
{
	height: 30px;
	width: 60px;
}

.registerTextBox
{
	margin-top:10px;
	margin-bottom:10px;
}

.movie
{
	border : thin solid #ccc;
	padding: 5px;
}

#userSpan
{
	color:white;
	margin-right: 20px;
	font-size: 15pt;
	/*font-family: sans-serif;*/

}

#logout
{
	font-family:sans-serif; 
	font-size:12pt;
	color:white;
	text-decoration: none;
	padding-right: 10px;
}

#logout:hover
{
	color:#ff0055;
}

#usernameLog
{
	font-family:sans-serif; 
	padding-right:10px;
	padding-top: 2px;
}

.invalid
{
	color:#ff0055; 
	position:relative;
}

