*
{
	margin: 0px;
	padding: 0px;

}

header,nav,section,article,aside,footer
{
	display: block;
	z-index: 0;
}

.page_header
{
	background-color: #232323;

	height: 70px;

	font-family: sans-serif;
}

#logo
{
	float:left;
	position: fixed;
	z-index: 5;
}

header #search
{
	background-color: #232323;

	margin: 0 0 0 0;

	text-align: center;

	position: relative;
}

#search #searchButton
{
	border-radius: 5px;
	position: relative;
}

header .container
{	

	background-color: #232323;

	margin: 0 0 0 0;

	text-align: right;

	position: relative;
}

#openModal #up:hover
{
	color: rgb(13,255,134);
}

a.open:visited
{
	color: white;
}

#openModal #up:visited
{
	color: white;
}

body
{
	margin: 0 0 0 0;
	background-color: #666666;
	background-color: #232323;

	z-index: 0;
}

.left_side
{
	float:left; 
	width: 200px;
	height: 417px;
	background-color: #232323;
	color: white;
	line-height: 50px;

	z-index: 0;
}

.genres
{
	color:white;
	font-family: sans-serif;

	z-index: 0;
}

.genres:visited
{
	color:blue;
	font-family: sans-serif;

	z-index: 0;
}

.right_side
{
	float:left;
	height: 417px;
	background-color: #232323;
	line-height: 60px;

	z-index: 0;
}

.result
{
	color : white;
	background-color : rgb(50,50,50);
	font-family: sans-serif;

	z-index: 0;
}

.title
{
	color: white;
}

.page_footer
{
	background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 

    z-index: 0;
}