.page_header
{
	background-color: #232323;

	height: 70px;

	font-family: sans-serif;
}

#logo
{
	float:left;
}

header #search
{
	background-color: #232323;

	margin: 0 0 0 0;


	text-align: center;
}

#search #searchButton
{
	border-radius: 5px;
}

header #signin
{
	float: right;

	background-color: #232323;

	margin: 0 0 0 0;

	text-align: right;
}

#signin #in:hover
{
	color: rgb(255,13,134);
}

#signin #out:hover
{
	color: rgb(13,255,134);
}

body
{
	margin: 0 0 0 0;
	background-color: #666666;
	background-color: white;
}

.page_footer
{
	background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}



header,nav,section,article,aside,footer
{
	display: block;
}
/*
.container{
	width:1000px;
	margin: 0px auto;

}

*/

*
{
	margin: 0px;
	padding: 0px;
	list-style-type:none;
}

.left_side
{
	float:left; 
	width: 200px;
	height: 417px;
}

.right_side
{
	float:left;
	height: 417px;
}

