<!--Creando el logo de la pagina-->
<div style ="float:left; height:70px; width: 70px;">
<a href = "#/home">
	<img  id = "logo" src="Imagenes/mubeez.png" alt="Best Movies Online" height = "70" width="70">
</a>
</div>
<div id = "search">

	<select  ng-model="filterino" ng-options = "criteria as criteria.label for criteria in criterias">	
	</select>
	
	<input id = "searchBox" type="search" name="search" ng-model="searchVal" placeholder = "Search..."></input>
	<button class = "btn btn-default btn-sm" style = "background-color : #ff0066; color :white; border-color:#232323;" id  = "searchButton" 
	 ng-click = "searchFor(filterino.value,searchVal)">Search</button>
	</button>
</div>

<div class="container1">
	<button href="#openModal" class="btn btn-success btn-lg" style = "margin-right:10px; background-color : #333333; color :white; border-color:#232323; "  ng-click = "showModal()">Sign In</button>
</div>
	<section id="openModal" class="modalDialog"  ng-show = "displayModal">
		<a href="#close" class="close" ng-click = "hideModal()"> X </a>
		<article class="ingreso">

			<figure><img src="Imagenes/dog.jpg" alt="imagen doge"></figure>

			<span class="title"> LOGIN </span>
			<p>Please enter your username and password</p>
			<br/>
			<br/>
			<br/>

			<h2> Username: <input class = "form-control"  placeholder='Username' style = "width:250px;;float: right; position:relative;" id = "TextBox" type = "text"> </input></h2>
			<br/>
			<h2> Password: <input class = "form-control" placeholder='Password' style = "width:250px; float: right; position:relative;" id = "TextBox" type = "password"></h2>
			<br/>
			<br/>
			<a class="signup" ng-click = "hideModal()" href="#/signup" >Sign Up<input id="loginButton" type="button" value="Go"></input></a>

		</article>
	</section>
